body {
  position: relative;
  margin: 0;
  padding: 0;
  background-image: none;
    width: 100%;
  height: 100%;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("assets/face.png");
  opacity: 1;
  z-index: 0;
  pointer-events: none;

  /*
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  */
}

ul li {
  padding: 0;
  margin: 0;
}

.wow-interest {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.wow-interest .category {
  border: 2px dashed skyblue;
  border-radius: 0.5rem;
  padding: 10px;
  padding-top: 0px;
}

.category-flex {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border: none;
  flex-wrap: wrap;
}

.the-interest {
  border: 1px solid gray;
  border-radius: 4px;
  display: block;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 300px;
}

.the-interest img {
  margin: 5px;
  object-fit: contain;
  overflow: clip;
}

.the-interest span {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}