#todo-note {
  position: absolute;
  top: 300px;
  right: -100px; /* moved closer to right */
  width: 200px;
  height: 200px;

  padding: 25px;
  padding-left: 40px;
  padding-top: 30px;
  line-height: 1.23;

  font-size: 15px;

  color: rgb(81, 58, 42);

  border-radius: 1rem;
  background-image: url('todo.jpg');
  background-size: cover;
  background-position: center;
  transform: rotate(5deg);
  z-index: 10;

border: 1px solid rgba(92, 64, 51, 0.4);

  overflow-wrap: break-word;

  transition: all 0.3s ease; /* smooth movement */
}

.todo-note:hover {
  transform: rotate(3deg);
}



pre code {
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid lightgray;
  font-family: 'Courier New', monospace;
  font-size: 0.95em;
  white-space: pre-wrap;
  word-break: break-word;
  padding: 4px 6px;
  display: block;
  border-radius: 4px;
}

.floating-tooltip {
  position: fixed;
  pointer-events: none;
  background: white;
  border: 1px solid gray;
  padding: 2px 6px;
  border-radius: 6px;
  font-size: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  display: none;
  z-index: 999;
}