
.photo {
  width: 220px;
  padding: 10px 10px 35px 10px; /* extra padding on bottom */
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  border: 1px solid lightgray;

  background-image: linear-gradient(to bottom right, white, rgb(236, 236, 236));

  position: relative;
}

button.tableofcontents {
  border-radius: 50px 0 0 50px;
  border: 0;
  padding: 12px;
  padding-left: 16px;

  font-size: 24px;
  padding-right: 24px;

  background-color: rgba(29, 154, 173, 0.535);
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

button.tableofcontents:hover {
  transform: translateX(-10px);
}

.blog-nav {
  margin-left: 20px;
  margin-right: 10px;
}


.blog-nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: monospace;
}

.blog-item {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
  border-bottom: 1px dashed #aaa;

  min-height: 28px;
}

.date {
  color: #555;
}

a.topic {
  line-height: unset;

  font-weight: bold;
  cursor: pointer;

  display: inline-block;

  width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  text-align: center;
  text-decoration: none;
}

a.topic:hover {
  color: brown;
}

a:visited {
  color: inherit;
}


.photo img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
  border-radius: 2px;
}

.photo div {
  overflow: scroll;
  max-height: 300px;
}

.desc {
    padding: 10px 10px 10px 10px; /* extraaaa padding on bottom */
}

.photo span {
  font-size: 14px;
  display: block;
}

.photo span.sub {
  font-size: 14px;
  margin-top: 4px;

word-break: break-all;
  height: 40px;
}

.photo::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 15px;

  top: -16px;
  transform: translateX(-25px);
  z-index: 999;

  border-radius: 10px 10px 0 0;
  border: 1px solid #d3d3d3;
  background: #f9f9f9;
  border-bottom: none;
}


.photo::after {
  content: "";
  position: absolute;
  width: 26px;
  height:8px;
  background: white;
  border: 1px solid #d3d3d3;

  top: -10px;
  transform: translateX(-13px);
  z-index: 999;

  border-radius: 5px;
}

.photo span.date {
  margin-top: -4px;
  margin-bottom: 2px;
}

.book > div {
  box-sizing: border-box;
}


.book {
  border: 2px solid lightblue;
  height: 800px;
  width: 1200px;
  left: 10%;

  display: flex;
  flex-direction: row;

  z-index: 11000;
  position: relative;
}

#page1 {
  border-right: 1px dashed lightblue;

  background: rgb(244, 248, 250);

  width: 50%;
  padding: 20px;

  z-index: 9;
}

#page2 {
  width: 50%;
  padding: 20px;

  z-index: 9;
}

.tabs {
  height: 400px;
  width: 40px;

  position: absolute;
  left: calc(10% - 40px);
  top: 10%;
  z-index: 0;

  padding: 0;
  margin: 0;
  padding: 0;

}