@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Emilys+Candy&family=Freckle+Face&family=Poppins:wght@400;500&display=swap');



@font-face {
  font-family: vcr_osd_mono;
  src: url(font/vcr_osd_mono.001.ttf);
}


.darumadrop-one-regular {
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.emilys-candy-regular {
  font-family: "Emilys Candy", serif;
  font-weight: 400;
  font-style: normal;
}

.freckle-face-regular {
  font-family: "Freckle Face", system-ui;
  font-weight: 400;
  font-style: normal;
}



/* general */

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14;
}

body {
  line-height: 150%;
  background-image: url('stripe-02.png');
  font-family: Arial;
}

img {
  -webkit-user-drag: none;
  user-drag: none;
  pointer-events: none; /* disables right-click */
}

div {
  box-sizing: border-box;
}

h1, h2 {
  padding: 0;
  margin: 0;
}

h1.md {
  background-image: linear-gradient(to right, rgb(91, 87, 149), transparent);
  color: white;
  font-weight: 600;
  font-family: vcr_osd_mono, sans-serif;
  font-size: 1rem;
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.pb {
  padding-bottom: 1rem;
}

h1 {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

/* styling */

.deco-border {
  border: 10px solid transparent;
  border-image: url("assets/accessories/border.png") 30 round;
}

/* top */

.image-overlay-wrapper {
  position: relative;
  width: 100%;
  height: 200px;  
  
  background-image: url('a.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  overflow: hidden;
}



.flexthing {
  position: absolute;
  bottom: 40px;
  left: 10px;    
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
  font-size: 1.5rem;
  padding: 10px 15px;
  border-radius: 8px;
}



/* nav */

.big-candy-wrapper {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.smaller-candy-wrapper {
  width: 65%;
  margin-left: 40px;
  padding: 30px;
  padding-top: 0;

  overflow-wrap: break-word; 
  
  min-height: 120vh;
  background-color: rgb(255, 255, 255);
  position: relative;
  border-left: 3px solid gray;
  border-right: 3px solid  gray;
}

a img {
  display: block; 
}

a {
  display: inline-block;
}

pre {
  white-space: pre-wrap;
  word-break: break-word;
}

.smaller-candy-wrapper::before,
.smaller-candy-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 8px;
  background-image: radial-gradient(circle, black 1.5px, transparent 1.5px);
  background-size: 100% 16px;
  background-repeat: repeat-y;
  z-index: 2;
  pointer-events: none;
}

.smaller-candy-wrapper::before {
  left: 0;
}

.smaller-candy-wrapper::after {
  right: 0;
}

#sidebar, .sidebar-style {

  max-height: 400px; 
  font-family: vcr_osd_mono;
  width: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  padding-bottom: 12px;
  background-color: white;
  border: 1px solid black;
}


#sidebar::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -16px;
  width: 100%;
  height: 16px;
  background-image: url("/assets/accessories/border.png");
  background-repeat: repeat-x;
  background-size: auto 16px; 
  pointer-events: none;
}

#sidebar::before {
  content: "";
  position: absolute;
  left: 0;
  top: -16px;
  width: 100%;
  height: 16px;
  background-image: url("/assets/accessories/border.png");
  background-repeat: repeat-x;
  background-size: auto 16px;
  pointer-events: none;
  transform: scaleY(-1);
}

.navlink-s {
  border-top-style: double;
  border: 3px double gray;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  height: auto;
}


.navlink {
  font-size: 14px;
  background-color: rgb(255, 205, 211);
  padding: 2px 6px;
}

.navlink:hover {
  background-image: linear-gradient(to right, transparent,  rgb(255, 255, 255, 0.6));
  cursor: pointer;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 14px;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* fortune */

.bar-blue {
  background: linear-gradient(to bottom right, #565c82, #565c82);
  color: white;
}

.bar {
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-align: center;
  margin-bottom: 6px;
  border: 1px solid #8C7F99;
}


.outer-wrapper-windows-div {
  border: 1px solid #8C7F99;
  background-color: #e9e9e9;
  padding: 5px;
}

.inner {
  border: 1px solid #8C7F99;
  padding: 5px;
  background-color: white;
}

#fortune {
  font-family: "Cutive Mono";
  letter-spacing: -1px;
  line-height: 16px;
}